.DataGrid{
 	clear: both;
    display: block;
     

}

.RTL {
    direction: rtl;
}


.DataGrid div.Caption{
    display: block;
    background:url("/CakeGrid/img/captionbg.gif") repeat-x scroll center top transparent;
    font-weight:bold;
    overflow:hidden;

    white-space:nowrap;
    //padding: 5px 10px;
    border-left:1px solid #CCCCCC;
    border-right:1px solid #CCCCCC;

}

.DataGrid div.ButtomsGroup{
    background:url("/CakeGrid/img/captionbg.gif") repeat-x scroll center top #FAFAFA;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #fff;
    border-left:1px solid #CCCCCC;
    border-right:1px solid #CCCCCC;
	overflow: hidden;
    padding: 3px 3px;

}


.DataGrid div.ButtomsGroup a.buttom{
    display:  inline-block;
    vertical-align: top;
    padding: 5px  30px 5px 10px;	
    border: 1px solid transparent;
    margin: 0px 2px;
    cursor: pointer;
    font-family: tahoma;
    font-size: 12px;
   	text-shadow:0 1px 0 #ccc;
    color: #333;
    background-repeat: no-repeat;
  	background-position: 90% center;
	

}

.DataGrid div.ButtomsGroup .icon-add{
	background-image: url("/irsa/img/icons/add.png") ;
}

.DataGrid div.ButtomsGroup a.buttom:hover{

    border-right: 1px solid #fff;
    border-top: 1px solid #fff;
    border-left: 1px solid #eee;
    outline: 1px solid #ccc;

}


.DataGrid div.ButtomsGroup div.Spliter{
    border-left:1px solid #CCCCCC;
    border-right:1px solid #FFFFFF;
    height:22px;
    margin:1px;
    display: inline-block;
}

.DataGrid div.ButtomsGroup div.RTL{
	float: right;
}


.DataGrid .GridScroller {
	overflow:auto ;
	border: none;
 
}

.DataGrid table{
  	border-collapse: separate;
    table-layout: fixed;
    border-spacing: 1px 1px;
 	border-left:1px solid #CCCCCC;
 	border-top:1px solid #c7c7c7;
	    
}   

.DataGrid table thead tr.cg_header {
   background: -moz-linear-gradient(center top , #EFEFEF, #CACACA) repeat scroll 0 0 transparent;
   
    
}


 .DataGrid table thead  tr.cg_header th , .DataGrid table tbody  tr td{
    padding: 5px 5px;
    border-right:1px solid #CCCCCC;
    border-left:1px solid #fff;
    vertical-align: middle;
    white-space: nowrap;
    
 }
 
 .DataGrid table tbody  tr.cg_row td{
         padding: 8px 5px;
 }
 
 .DataGrid table thead  tr.tableHeader th {
     padding: 8px 5px;
 
 } 
 
 .DataGrid table thead  tr.tableHeader th div.Col{
 	height: 22px;
 	line-height: 22px;
	padding-right: 30px;
	min-width: 100px;
 }
 
 .DataGrid table thead  tr.tableHeader th div.RowNumber{
 	 	height: 22px;
 	line-height: 22px;
 }
 
.DataGrid table thead  tr.tableHeader th span.Scroller{
	cursor: e-resize;
	width: 2px;
	height: 22px;
	float: right;

  }
 
 .DataGrid table thead  tr.tableHeader th span.RTL{
 	float: left;
 } 
  
.DataGrid table thead  tr.tableHeader th  div.Sorter{
	cursor: pointer;
	float: left;
	height: 16px;
	width: 16px;
	margin: 2px 5px ;
    border:1px solid transparent;
  } 
.DataGrid table thead  tr.tableHeader th  div.Sorter:hover{
    border:1px solid #fff;
    outline: 1px solid #ddd;
}  
 .DataGrid table thead  tr.tableHeader th div.RTL{
	float: right;
	margin: 2px 5px 0px 0px;
 } 
   

 .DataGrid table tbody  tr.cg_row.odd td{
				background: #f7f7f7;
				border-bottom: 1px solid #f7f7f7;
 
    }  


 .DataGrid div.Footer{

    border: none;
    background:url("/irsa/img/wbg.gif") repeat-x scroll center top transparent;
    font-weight:bold;
    overflow:hidden;
    white-space:nowrap;
    border-bottom:1px solid #CCCCCC;
    border-left:1px solid #CCCCCC;
    border-right:1px solid #CCCCCC;
    padding: 5px;
    height: 10px;
 }